.user-container {
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 20px;
}

.user-info {
    display: flex;
}

.user-avatar {
    margin-right: 20px;
}

.user-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.error-message {
    color: red;
    font-weight: bold;
}
